th,
td {
    padding: 5px;
    text-align: center;
    border: 1px solid;
    width: 175px;
}

input {
    margin: 5px;
    width: 200px;
}

#button-add-div,
#button-modificar-div,
#button-buscar-div {
    margin-bottom: 25px;
}

#add-students-div,
#update-students-div,
#buscar-students-div {
    display: none;
}

.delete-button {
    background-color: red;
    float: left;
    font-size: 20px;
    width: 50px;
    transition: 0.5s;
}

.delete-button:hover {
    background-color: rgb(161, 0, 0);
    transition: 0.5s;
}